body {
  background-color: #595959;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#difPokis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4%;
}

#difPokis .allPokemonCards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  top: 30px;
}

#difPokis .allPokemonCards .gameCard {
  position: absolute;
  background-color: #383838;
  height: 130px;
  width: 100px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  border-radius: 0px 0px 0px 10px;
  padding: 7px 10px 7px 10px;
  text-transform: capitalize;
}

#difPokis .allPokemonCards .gameCard .innsideArea {
  height: 115px;
  width: 100px;
  border-bottom: 10px solid white;
}

#difPokis .allPokemonCards .gameCard .innsideArea .nintenLogo {
  background-color: white;
  font-family: 'Orbitron', sans-serif;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-line-pack: start;
      align-content: start;
  height: 18px;
  padding: 2px;
}

#difPokis .allPokemonCards .gameCard .innsideArea .nintenLogo .nintendoTxt {
  font-size: .6rem;
  margin-bottom: auto;
  text-align: right;
  line-height: .6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#difPokis .allPokemonCards .gameCard .innsideArea .nintenLogo .DSTxt {
  font-size: 1.4rem;
  line-height: 1.1rem;
}

#difPokis .allPokemonCards .gameCard .innsideArea .nintenLogo .TMTxt {
  font-size: 4px;
  margin-top: auto;
  font-weight: bolder;
  margin-left: auto;
}

#difPokis .allPokemonCards .gameCard .innsideArea img {
  width: 100px;
  height: 96px;
  margin: auto;
}

#difPokis .allPokemonCards .gameCard .charizard {
  background-color: #4444fd;
}

#difPokis .allPokemonCards .gameCard .charmander {
  background-color: #52a364;
}

#difPokis .allPokemonCards .gameCard .charmeleon {
  background-color: #e6f32e;
}

#difPokis .allPokemonCards #charmeleon {
  left: 70px;
}

#difPokis .allPokemonCards #charizard {
  right: 70px;
}

.gamecardHover:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#dsFront {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  z-index: 10000;
}

#dsFront .wholeNintendo {
  background-color: #8b8b8b;
  border-radius: 15px 15px 15px 15px;
}

#dsFront .wholeNintendo .pen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 15px;
}

#dsFront .wholeNintendo .pen .leftPen {
  width: 50px;
  height: 50px;
  z-index: 1000;
  border-radius: 15px;
}

#dsFront .wholeNintendo .pen .midPen {
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  width: 606px;
  z-index: 1001;
  height: 50px;
}

#dsFront .wholeNintendo .pen .rightPen {
  width: 90px;
  z-index: 1002;
  height: 50px;
  color: white;
  text-shadow: -1px -1px 0 #e9e8e8, 1px -1px 0 #e9e8e8, -1px 1px 0 #e9e8e8, 1px 1px 0 #e9e8e8;
  text-align: center;
  font-size: 2.1rem;
  font-weight: bolder;
  font-family: 'Nunito', sans-serif;
}

#dsFront .wholeNintendo .mainNintendo {
  background-color: #a5a6aa;
  height: 350px;
  width: 750px;
  border-radius: 0 0 15px 15px;
  font-family: 'Orbitron', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
  color: #bababb;
  font-weight: 100;
  line-height: 3.9rem;
}
/*# sourceMappingURL=style.css.map */