#difPokis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .gameCard{
        background-color: #383838;
        height: 130px;
        width: 100px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
        border-radius: 0px 0px 0px 10px;
        padding: 7px 10px 7px 10px;
        text-transform: capitalize;
        .innsideArea{
            height: 115px;
            width: 100px;
            border-bottom: 10px solid white;
            .nintenLogo{
                background-color: white;
                font-family: 'Orbitron', sans-serif;
                color: black;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: start;
                align-content: start;
                height: 18px;
                padding: 2px;
                .nintendoTxt{
                    font-size: .6rem;
                    margin-bottom: auto;
                    text-align: right;
                    line-height: .6rem;
                    width: fit-content;
                }
                .DSTxt{
                    font-size: 1.4rem;
                    line-height: 1.1rem;
                }
                .TMTxt{
                    font-size: 4px;
                    margin-top: auto;
                    font-weight: bolder;
                    margin-left: auto;
                }
            }
            img{
                width: 100px;
                margin: auto;
            }
        }    
        .charizard{
            background-color: rgb(68, 68, 253);
            
        }    
        .charmander{
            background-color: rgb(82, 163, 100);
        }
        .charmeleon{
            background-color: rgb(230, 243, 46);
        }
        
    }
    
}