*{
    font-family: 'Press Start 2P', cursive;
    color: white;
}

html{
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    margin: 75px auto;
    // width: 80%;
}

#rightSide{
    width: 300px;
    height: 600px;
    background-color: blue;
}

#leftSide{
    width: 300px;
    height: 600px;
    background-color: blue;
    display: flex;

    
}

#screen{
    width: 900px;
    height: 600px;
    #top{
        display: flex;
        #imgBorder{
            height: 300px;
            width: 300px;
            background-color: black;
            background-image: url(../../images/charizardMini.png);
            background-position: center;
            background-size: contain;
            border-top: solid 8px white;
            border-left: solid 8px white;
            border-right: solid 8px white;
        }
        #basicInfo{
            display: flex;
            flex-direction: column;
            justify-items: center;
            div{
                padding-top: 60px;
                padding-left: 80px;
            }
        }
    }
    #bottom{
        height: 286px;
        // background-color: aqua;
        border-top: solid 8px white;
        display: flex;
    }
}

.topButtons{
    width: 30px;
    height: 15px;
    background-color: blueviolet;
}


#POPUP{
    display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}

#menuOverlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    opacity: 0.8;
    filter: alpha(opacity=50);
}

